* {
    margin: 0;
    padding: 0; 
}
body {
    height: 100%;
    width: 100%;
    font-family: 'News Cycle', sans-serif;
}
nav {
    font-size: 18px;
    color: white;
}
nav ul {
    list-style: none;
}
nav li {
    text-decoration: none;
    display: inline-block;
    /* margin: 30px; */
    padding: 10px 20px;
}
.covid-nav li a {
    color: inherit; 
    text-decoration-line: none;
}
#covid-foot {
    padding-bottom: 10px;
    padding-left: 10px;
}
#github-foot {
    margin: 0 10px 0 10px;
}
#foot-name {
    color: white;
}
#test{
    background-color: rgb(104, 187, 184);
    border-radius: 40px;
    padding: 10px 25px;
}
#home:hover {
    cursor: pointer;
    border-bottom: 2px rgb(104, 187, 184) solid;
}
#tracker:hover {
    cursor: pointer;
    border-bottom: 2px rgb(104, 187, 184) solid;
}
#test:hover {
    cursor: pointer;
    /* border-bottom: 2px rgb(134, 114, 146) solid; */
}
.testing-jumbotron {
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
}
h1 {
    font-weight: 700;
    font-size: 67px;
}
#map {
    height: 500px;
    margin-top: 10px;
}